.App {
  text-align: center;
  background-color: #e9ecef;
}

/* height bellow allows entire bg colour to cover whole page
not a good solution, incompatible with iOS 7.1 safari and android chrome < 4.4 */
.Full {
  background: #e9ecef;
  overflow: auto;
  height: 92vh; 
}

.Card{
  min-height: 20em;
  padding-top: 2em;
  padding-bottom: 50px; 
}

